#about-us
{
    
    width: 80%;
    margin: auto;
    text-align: center;

}
h1
{
    color: #0eee85;
}
h2
{
    color: #02f5ac;
}
p
{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    color: #0ab2f5;
    font-size: 17px;
}
ul
{
    list-style: none;
    
}
li
{
    font-size: 20px;
    color: #0ab2f5;
}