#about-us
{
    text-align: center;
    width: 80%;

}

p
{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
}
ul
{
    list-style: none;
   

}