#admin-user-details
{
    text-align: center;
    padding-top: 6%;
    padding-bottom: 6%;
}
#admin-user-details a
{
    text-decoration: none;
    color: darkred;
    font-size: 20px;
}
#admin-user-details h2
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: red;
}
table
{
    width: 100%;
    
    margin: auto;
    
}
tr
{
    height: 60px;
}
tr:hover
{
    transform: scale(1.06);
}
td
{
    width: 20%;
    
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
}