#filter-list
{
    margin: auto;
    width: 100%;
    padding: 2%;
    display: inline-block;
    text-align: center;
}

#filter-list button
{
    width: 10%;
    padding: 1.2%;
    border: solid 1px darkslategray;
}
#filter-list button:hover
{
    transform: scale(1.15);
}


.zoom-class:hover
{
    left: 20%;
    transform: scale(1.1);
}
