#profile-container
{
    text-align: center;
    padding-top: 6%;
}
a
{
    text-decoration: none;
    color: darkred;
    font-size: 20px;
}
table
{
    width: 100%;
    padding: 4%;
    margin: auto;
    
}
td
{
    width: 20%;
    height: 20%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
}